@import "../variables";
@import "../placeholders/input";
@import "../placeholders/formButtons";

.c-form {

  .c-form__title {
    font-size: 1.2em;
    padding: 10px;
    text-decoration: underline;
    margin-bottom: 20px;

  }

  .c-form__errors {
    padding: 2px;
    margin-bottom: 10px;
    .error__message {
      font-size: 0.9em;
      text-decoration: underline;
      color: red;
    }
  }

  .c-form__group {
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
  }
  .c-form__label {
    margin-right: 20px;
    font-weight: bold;
  }

  .c-form__text-input {
      @extend %inputTypeText;
      @media (max-width: 400px) {
        width: 150px;
      }

    &:focus {
      @extend %inputTypeTextFocused;
      @media (min-width: 320px) and (max-width: 500px) {
        padding-right: 5px;
      }

    }
  }

  .c-form__btn {
    @extend %submitButton;

    &:hover {
      @extend %submitButtonHover;
    }

    &:active {
      @extend %submitButtonActive;
    }
  }
}
