@import "../variables";

.c-header {
  margin: 0 auto;
  min-height: $headerMinHeight;
  padding: 10px;
  max-width: 1200px;
  background: white;
  opacity: 0.85;
  display: flex;
  border: 1px solid lightgrey;
  justify-content: space-between;
  align-items: center;

  .header__nav {
    position: relative;

    .header__nav-bar {
      padding: 0;
      margin: 0;
      list-style: none;

      .nav-bar__list {
        display: inline-block;
        .nav-bar__links {
          text-decoration: none;
          color: $text-color;
          padding: 5px 15px;
          border-radius: 10px;
        }

        &:hover {

          .nav-bar__links {
            color: white;
            background: $secondaryColor;

          }
        }

        &:active {
          opacity: 0.8;
        }
      }
    }

  }

  .header__search-form {
    padding: 2px;
      .c-form__btn {
        margin-left: -10px;
      }
    }
}

