@import "../variables";

.home-content {
  padding: 10px;

  .home-content__title {
    padding: 10px;
    text-align: center;
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .home-content__item {
    padding: 2px;
    display: flex;
    justify-content: space-between;
    margin: 10px auto;

    .item__image {
      border: 2px solid lightgrey;
      width: 30%;
      min-height: 90%;
    }

    .item__content {
      width: 65%;
      font-size: 0.9em;
      padding: 5px;
      border-bottom: 2px solid lightgrey;
    }
  }
}
