@import "../variables";

html {
  height: 100%;
}

body {
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  line-height: $line-height-base;
  margin: 10px;
  padding: 20px;
  color: $text-color;

  background: url($bodyImage) no-repeat center center fixed;


  .c-content {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    background: white;
    opacity: 0.85;
    min-height:1px;
    padding: 10px;

    .main-block {
      min-height: 75vh;

      .form-container {
        margin: 0 auto;
        text-align: center;
      }

      .main-block__message {
        text-align: center;
        text-decoration: underline;
        min-height: 200px;
        line-height: 200px;
        padding: 10px;
        font-size: 1.6em;
        @media (max-width: 320px) {
          font-size: 1em;
        }
        font-weight: bold;
      }
    }
  }
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
  z-index: 10;
}



