@import "../variables";
@import "../placeholders/links";

.table {
  margin: 30px auto;
  width: 80%;
  border-collapse: collapse;
  caption {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
  }

  thead {
    background: $secondaryColor;
    color: white;
    tr:hover {
      background: $secondaryColor;
    }
  }
  th, td {
    font-weight: bold;
    border: 1px solid lightgrey;
    padding: 10px 15px;
    height: 30px;
    vertical-align: middle;
  }
  
  tr:nth-child(even) {
    background-color: $mainColor;
  }

  .table__crud-buttons {
    display: flex;
    justify-content: flex-start;
  }

  .table__crud-header {
    width: 15%;
  }
}




