@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);html {
  height: 100%;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.4;
  margin: 10px;
  padding: 20px;
  color: #636b6f;
  background: url(/images/body_background.jpg?02af8231a90d695b7ea8059595929c98) no-repeat center center fixed;
}

body .c-content {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  background: white;
  opacity: 0.85;
  min-height: 1px;
  padding: 10px;
}

body .c-content .main-block {
  min-height: 75vh;
}

body .c-content .main-block .form-container {
  margin: 0 auto;
  text-align: center;
}

body .c-content .main-block .main-block__message {
  text-align: center;
  text-decoration: underline;
  min-height: 200px;
  line-height: 200px;
  padding: 10px;
  font-size: 1.6em;
  font-weight: bold;
}

@media (max-width: 320px) {
  body .c-content .main-block .main-block__message {
    font-size: 1em;
  }
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
  z-index: 10;
}

.c-link-button {
  color: #636b6f;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
}

.c-link-button:hover {
  background: #009a00;
  color: white;
}

.c-link-button:active {
  opacity: 0.8;
}

.table {
  margin: 30px auto;
  width: 80%;
  border-collapse: collapse;
}

.table caption {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

.table thead {
  background: #009a00;
  color: white;
}

.table thead tr:hover {
  background: #009a00;
}

.table th,
.table td {
  font-weight: bold;
  border: 1px solid lightgrey;
  padding: 10px 15px;
  height: 30px;
  vertical-align: middle;
}

.table tr:nth-child(even) {
  background-color: rgba(118, 255, 129, 0.18);
}

.table .table__crud-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.table .table__crud-header {
  width: 15%;
}

.table-hover tr:hover {
  background-color: #faffd7;
}

.table-hover tr:nth-child(even):hover {
  background-color: #faffd7;
}

.c-form .c-form__text-input {
  border: 1px solid #aaa;
  -webkit-box-shadow: 0 0 3px #aaa, 0 5px 5px lightgrey inset;
          box-shadow: 0 0 3px #aaa, 0 5px 5px lightgrey inset;
  padding: 5px;
  border-radius: 5px;
}

.c-form .c-form__text-input:focus {
  background: #fff;
  border: 1px solid #00c700;
  -webkit-box-shadow: 0 0 3px rgba(118, 255, 129, 0.18);
          box-shadow: 0 0 3px rgba(118, 255, 129, 0.18);
}

.c-form .c-form__btn {
  background-color: rgba(118, 255, 129, 0.18);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(118, 255, 129, 0.18)), to(#009a00));
  background: linear-gradient(top, rgba(118, 255, 129, 0.18), #009a00);
  border: 1px solid #009a00;
  border-bottom: 1px solid #009a00;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  box-shadow: 0 0 10px 5px #009a00 inset;
  -webkit-box-shadow: 0 0 10px 5px #009a00 inset;
  -moz-box-shadow: 0 0 10px 5px #009a00 inset;
  -ms-box-shadow: 0 0 10px 5px #009a00 inset;
  -o-box-shadow: 0 0 10px 5px #009a00 inset;
  color: white;
  font-weight: bold;
  padding: 6px 20px;
  text-align: center;
  text-shadow: 0 -1px 0 #113475;
}

.c-form .c-form__btn:hover {
  opacity: .85;
  cursor: pointer;
}

.c-form .c-form__btn:active {
  box-shadow: inset 0 1px 0 0 #c5ff9c;
  -webkit-box-shadow: 0 1px 0 0 #c5ff9c inset;
  -moz-box-shadow: 0 1px 0 0 #c5ff9c inset;
  -ms-box-shadow: 0 1px 0 0 #c5ff9c inset;
  -o-box-shadow: 0 1px 0 0 #c5ff9c inset;
  border: 1px solid rgba(118, 255, 129, 0.18);
}

.c-form .c-form__title {
  font-size: 1.2em;
  padding: 10px;
  text-decoration: underline;
  margin-bottom: 20px;
}

.c-form .c-form__errors {
  padding: 2px;
  margin-bottom: 10px;
}

.c-form .c-form__errors .error__message {
  font-size: 0.9em;
  text-decoration: underline;
  color: red;
}

.c-form .c-form__group {
  padding: 10px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-form .c-form__label {
  margin-right: 20px;
  font-weight: bold;
}

@media (max-width: 400px) {
  .c-form .c-form__text-input {
    width: 150px;
  }
}

@media (min-width: 320px) and (max-width: 500px) {
  .c-form .c-form__text-input:focus {
    padding-right: 5px;
  }
}

.c-header {
  margin: 0 auto;
  min-height: 80px;
  padding: 10px;
  max-width: 1200px;
  background: white;
  opacity: 0.85;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid lightgrey;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-header .header__nav {
  position: relative;
}

.c-header .header__nav .header__nav-bar {
  padding: 0;
  margin: 0;
  list-style: none;
}

.c-header .header__nav .header__nav-bar .nav-bar__list {
  display: inline-block;
}

.c-header .header__nav .header__nav-bar .nav-bar__list .nav-bar__links {
  text-decoration: none;
  color: #636b6f;
  padding: 5px 15px;
  border-radius: 10px;
}

.c-header .header__nav .header__nav-bar .nav-bar__list:hover .nav-bar__links {
  color: white;
  background: #009a00;
}

.c-header .header__nav .header__nav-bar .nav-bar__list:active {
  opacity: 0.8;
}

.c-header .header__search-form {
  padding: 2px;
}

.c-header .header__search-form .c-form__btn {
  margin-left: -10px;
}

.home-content {
  padding: 10px;
}

.home-content .home-content__title {
  padding: 10px;
  text-align: center;
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 20px;
}

.home-content .home-content__item {
  padding: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px auto;
}

.home-content .home-content__item .item__image {
  border: 2px solid lightgrey;
  width: 30%;
  min-height: 90%;
}

.home-content .home-content__item .item__content {
  width: 65%;
  font-size: 0.9em;
  padding: 5px;
  border-bottom: 2px solid lightgrey;
}

.c-link-button {
  color: #636b6f;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
}

.c-link-button:hover {
  background: #009a00;
  color: white;
}

.c-link-button:active {
  opacity: 0.8;
}

@media (max-width: 600px) {
  body {
    margin: 0;
    padding: 0;
    font-size: 13.84615385px;
  }

  body .c-header {
    padding: 2px;
  }

  body .c-header .header__search-form .header__search-form .c-form__text-input {
    width: 120px;
  }

  body .c-header .header__search-form .header__search-form .c-form__btn {
    margin-left: -10px;
    display: none;
  }

  body .c-content .main-block .home-content {
    padding: 2px;
  }

  body .c-content .main-block .home-content .home-content__item {
    display: block;
  }

  body .c-content .main-block .home-content .home-content__item .item__image {
    width: 80%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 5px;
    min-height: 100px;
  }

  body .c-content .main-block .home-content .home-content__item .item__content {
    font-size: 1em;
    width: 100%;
  }

  body .c-content .main-block .main-block__message {
    font-size: 1.15em;
  }

  .table td,
  .table th {
    padding: 5px 2px;
  }
}

@media (max-width: 1000px) {
  body {
    margin: 5px;
    padding: 5px;
  }
}

.\--inline {
  display: inline-block;
}

.\--right {
  float: right;
}

.\--block {
  display: block;
}

.\--shifted-right-down {
  margin-left: 20px;
  margin-top: 20px;
}

