@import "../variables";

@media (max-width: 600px) {
  body {
    margin: 0;
    padding: 0;
    font-size: $font-size-base/1.3;

    .c-header {
      padding: 2px;
      .header__search-form {
        .header__search-form {
          .c-form__text-input {
            width: 120px;
          }
          .c-form__btn {
            margin-left: -10px;
            display: none;
          }
        }
      }
    }

    .c-content {
      .main-block {
        .home-content {
          padding: 2px;
          .home-content__item {
            display: block;

            .item__image {
              width: 80%;
              margin: 0 auto;
              display: flex;
              justify-content: center;
              padding: 5px;
              min-height: 100px;
            }

            .item__content {
              font-size: 1em;
              width: 100%;
            }
          }
        }
        .main-block__message {
          font-size: 1.15em;
        }
      }
    }
  }

  .table {
    td, th {
      padding: 5px 2px;
    }
  }
}
