@import "../variables";

%inputTypeText {
  border:1px solid #aaa;
  box-shadow: 0 0 3px #aaa, 0 5px 5px lightgrey inset;
  padding: 5px;
  border-radius: 5px;
}

%inputTypeTextFocused {
  background: #fff;
  border:1px solid #00c700;
  box-shadow: 0 0 3px $mainColor;
}

