%linksLikeButtons {
  color: $text-color;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
}

%linksLikeButtonsHover {
  background: $secondaryColor;
  color: white;
}

%linksLikeButtonsActive {
  opacity: 0.8;
}