//Color
$mainColor: rgba(118, 255, 129, 0.18);
$secondaryColor: #009a00;
$shadowColor: #c5ff9c;
$text-shadowColor: #113475;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 18px;
$line-height-base: 1.4;
$text-color: #636b6f;

//Task section
$taskContentHeight: 50px;
$taskDivBorder: 1px solid $mainColor;


//Header
$headerMinHeight: 80px;

//BodyImageUrl
$bodyImage: '../../../public/images/background/body_background.jpg';


//Form
$form-width: 100%;